@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Lỗi</h1>
<h2 class="text-danger">Đã có lỗi xảy ra khi thực hiện yêu cầu của bạn.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID lỗi:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Chế độ dành cho nhà phát triển</h3>
<p>
    Chuyển sang môi trường dành cho <strong>Nhà phát triển</strong>  để biết thêm thông tin chi tiết về lỗi đang xảy ra.
</p>
<p>
    <strong>Môi trường dành cho nhà phát triển không nên được kích hoạt cho các ứng dụng đã thiết lập.</strong>
    Điều này dẫn tới rò rỉ thông tin nhạy cảm từ lỗi (exceptions) tới người dùng cuối.
    Để kiểm thử cục bộ (local debug), hãy kích hoạt Môi trường dành cho <strong>nhà phát triển</strong> thông qua cài đặt biến <strong>ASPNETCORE_ENVIRONMENT</strong> thành <strong>Development</strong>
    và khởi động lại ứng dụng.
</p>
